[
 [:xtdb.api/put {:description "Bei den Länderspielen gegen Dänemark auswärts in Haderslev an dem 9. und 11. November kann sich der neue U 16-Jahrgang endlich international beweisen. Dafür hat DFB-Trainerin Sabine Loderer insgesamt 23 Spielerinnen nominiert.", :entity/type "rss_news", :title "U 16 mit 23 Spielerinnen und 'großer Vorfreude' nach Dänemark", :author "dfb", :language "de", :link "https://www.dfb.de/news/detail/u-16-mit-23-spielerinnen-und-grosser-vorfreude-nach-daenemark-234014/?no_cache=1&cHash=66100462e6da410b349b9b2b8586876f", :xt/id "4c1a5ce5-3d58-478c-9ca5-3dac34b12854", :published "2021-11-02 17:00:00"}]
 [:xtdb.api/put {:description "Endlich mal wieder gemeinsam lachen, tanzen und feiern. Am vergangenen Sonntag war es soweit: Fan-Club-Betreuer Hans-Joachim 'Bubi' Toews lud zum traditionsreichen Sektionstreffen ins Weingut Wissing in Gleiszellen ein.", :entity/type "rss_news", :title "Bubis Fan-Club-Treffen: 1500 Euro für den guten Zweck", :author "ng", :language "de", :link "https://www.dfb.de/news/detail/bubis-fan-club-treffen-1500-euro-fuer-den-guten-zweck-234012/?no_cache=1&cHash=cd7d77cdd564691d98cfd42f7c0aaaa0", :xt/id "234e1b4f-65ef-488b-b48d-6645a5964f55", :published "2021-11-02 16:00:00"}]
 [:xtdb.api/put {:description "Der SV Henstedt-Ulzburg landete mit dem Einzug ins DFB-Pokalviertelfinale einen historischen Erfolg. Mit DFB.de spricht Torjägerin Indra Hahn (20) über den Erfolg, Wunschgegner und den Abstiegskampf in der 2. Frauen-Bundesliga.", :entity/type "rss_news", :title "Henstedt-Ulzburgs Hahn: 'Der FC Bayern wäre nicht schlecht'", :author "mspw", :language "de", :link "https://www.dfb.de/news/detail/henstedt-ulzburgs-hahn-der-fc-bayern-waere-nicht-schlecht-234003/?no_cache=1&cHash=09ba0b18a0b5e2358c0e51d5d688eadd", :xt/id "38f2b59a-4fd7-478b-9b68-34ce6d37ea97", :published "2021-11-02 15:30:00"}]
 [:xtdb.api/put {:description "Am 16. November trifft unsere U 21 auf San Marino. Du hast die Chance, in Ingolstadt einen Blick hinter die Kulissen des DFB-Teams zu werfen. Der Fan Club Nationalmannschaft verlost einen Fan-tastic Moment mit Tickets, Übernachtung und Anfahrt.", :entity/type "rss_news", :title "Exklusive Einblicke bei der U 21 gewinnen", :author "jh", :language "de", :link "https://www.dfb.de/news/detail/exklusive-einblicke-bei-der-u-21-gewinnen-234008/?no_cache=1&cHash=9587c304f7f12580370b4fb8f99ec29d", :xt/id "e2b7ac00-a166-4755-a6bb-545c4f8fa8a8", :published "2021-11-02 12:30:00"}]
 [:xtdb.api/put {:description "Das DFB-Sportgericht hat Türkgücü München im Einzelrichterverfahren nach Anklageerhebung durch den DFB-Kontrollausschuss wegen unsportlichen Verhaltens seiner Anhänger mit einer Geldstrafe von 700 Euro belegt.", :entity/type "rss_news", :title "700 Euro Geldstrafe für Türkgücü München", :author "dfb", :language "de", :link "https://www.dfb.de/news/detail/700-euro-geldstrafe-fuer-tuerkguecue-muenchen-233881/?no_cache=1&cHash=8ba2f48eca9bd8170a39c076fef90d71", :xt/id "21926ed3-77b8-4c19-baad-5f90b5954986", :published "2021-11-02 11:55:00"}]
 [:xtdb.api/put {:description "Das DFB-Sportgericht belegt Emanuel Taffertshofer vom Drittligisten SV Wehen Wiesbaden wegen eines rohen Spiels gegen den Gegner mit einer Sperre von zwei Spielen. Der Spieler hat dem Urteil zugestimmt, es ist rechtskräftig.", :entity/type "rss_news", :title "Zwei Spiele Sperre für Wehen Wiesbadens Taffertshofer", :author "dfb", :language "de", :link "https://www.dfb.de/news/detail/zwei-spiele-sperre-fuer-wehen-wiesbadens-taffertshofer-233971/?no_cache=1&cHash=f2b543359202bf3a9bb3fc6307491041", :xt/id "d323c48a-7270-4948-8fa4-a356eb4a95a2", :published "2021-11-02 11:45:00"}]
 [:xtdb.api/put {:description "Die U 20 ist in dieser Saison noch ungeschlagen, nun wartet ein anspruchsvoller Jahresabschluss. Trainer Christian Wörns hat 24 Spieler für die Auswärtsspiele gegen Frankreich am 11. November und Portugal am 15. November nominiert.", :entity/type "rss_news", :title "Mit 24 Spielern nach Frankreich und Portugal", :author "dfb", :language "de", :link "https://www.dfb.de/news/detail/mit-24-spielern-nach-frankreich-und-portugal-233994/?no_cache=1&cHash=2a4d8ef0fd5cec27c65fa288393c6124", :xt/id "1c2ef1e0-b3e5-453d-8a98-c4f33aa7498c", :published "2021-11-02 09:00:00"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/soweto-derby-how-orlando-pirates-could-start-against-kaizer/cpup8hid6c5b14n37w4wyyyxr", :description "Soweto Derby: How Orlando Pirates could start against Kaizer Chiefs", :language "en", :entity/type "rss_news", :xt/id "f4729542-335e-4b52-ae59-115d104e48dd", :published "2021-11-05 15:22:05", :title "Soweto Derby: How Orlando Pirates could start against Kaizer Chiefs"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/ronaldo-negative-influence-claims-at-man-utd-rubbished-by/f5w5mbpj5s4i162dhuvcpg17v", :description "Ronaldo negative influence claims at Man Utd rubbished by Solskjaer", :language "en", :entity/type "rss_news", :xt/id "37651f6a-e550-4c8a-ae4f-3c2e9d4a58a5", :published "2021-11-05 14:54:08", :title "Ronaldo negative influence claims at Man Utd rubbished by Solskjaer"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/longest-serving-premier-league-managers/uioop2f4r1801ea100gtb3ef3", :description "Who are the longest-serving Premier League managers in history?", :language "en", :xt/id "e5983c9d-78f8-4abb-965f-c2a4cd726e94", :entity/type "rss_news", :published "2021-11-05 14:43:22", :title "Who are the longest-serving Premier League managers in history?"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/mamelodi-sundowns-respond-to-match-fixing-allegations/kmw520wm4wz1fd2nib8sx72k", :description "Mamelodi Sundowns respond to match fixing allegations", :language "en", :xt/id "f3ae9b30-e620-4c74-b6dd-6709cafd3418", :entity/type "rss_news", :published "2021-11-05 14:14:13", :title "Mamelodi Sundowns respond to match fixing allegations"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/firmino-liverpool-serious-injury-klopp/rp87y5f330c1xg8mkijs9iz1", :description "Firmino blow for Liverpool as Klopp reveals 'serious injury' from Atletico Madrid victory", :language "en", :xt/id "0fec446d-c380-412d-bd3a-606cd9ebb684", :entity/type "rss_news", :published "2021-11-05 13:48:06", :title "Firmino blow for Liverpool as Klopp reveals 'serious injury' from Atletico Madrid victory"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/reyna-injury-more-serious-than-expected-but-borussia/1odkqq9cxh4kq1941eg7m4153s", :description "Reyna injury 'more serious than expected' but Borussia Dortmund reveal return hope for USMNT star", :language "en", :entity/type "rss_news", :xt/id "c883ce4c-f1fd-4a01-b456-8223a1f986cb", :published "2021-11-05 13:36:20", :title "Reyna injury 'more serious than expected' but Borussia Dortmund reveal return hope for USMNT star"}]
 [:xtdb.api/put {:author "Unknown", :link "https://www.goal.com/en/news/mamelodi-sundowns-beat-stellenbosch-fc-to-psl-q-innovation/1bk7cvidzlr6m17el9eri6rrzd", :description "Mamelodi Sundowns beat Stellenbosch FC to PSL Q-Innovation Quarter One", :language "en", :entity/type "rss_news", :xt/id "a33df842-46d7-44bb-93de-71254d817504", :published "2021-11-05 13:31:22", :title "Mamelodi Sundowns beat Stellenbosch FC to PSL Q-Innovation Quarter One"}]
 [:xtdb.api/put {:description "Sara Sorribes es la gran baza de España para batir a Estados Unidos (17:00, Teledeporte) y clasificarse para las semifinales de la Billie Jean King Cup.", :title "Sorribes toma el mando ante la eliminatoria contra EE UU", :author "Unknown", :entity/type "rss_news", :language "es", :link "https://as.com/tenis/2021/11/03/copa_davis/1635894579_530761.html#?ref=rss&format=simple&link=link", :xt/id "a97f25f2-e2f1-4108-9237-b06bb988655b", :published "2021-11-03 04:18:01"}]
 [:xtdb.api/put {:description "Well, here’s one way to make people forget about your 4-4 record.Read more...", :entity/type "rss_news", :title "Monkeys and Pole Assassins and Longhorns, oh my!", :author "Unknown", :language "en", :link "https://deadspin.com/monkeys-and-pole-assassins-and-longhorns-oh-my-1847983388", :xt/id "fdaad213-5381-45cf-941a-e7b092b39d86", :published "2021-11-02 17:58:00"}]
 [:xtdb.api/put {:description "Niesamowite emocje w Warszawie! Legia odrobiła solidne straty i pokonała CSM CSU Oradea 75:68.", :entity/type "rss_news", :title "Brawo Legia! To było show", :author "Unknown", :language "pl", :link "https://sportowefakty.wp.pl/koszykowka/968330/brawo-legia-to-bylo-wielkie-show-abdur-rahkmana-w-drodze-do-top-16-fec", :xt/id "af5f2730-164c-4df0-a1ab-0a13a7234d00", :published "2021-11-03 20:00:43"}]
]